.calculate-row-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
}
.title-home-container h2 {
  color: var(--white);
  font-size: 35px;
  font-weight: bolder;
}

.calculate-container {
  padding: 80px 40px;
  background: #fff;
  border-radius: 7px;
  width: 510px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  margin-right: 50px;
}
.input-tether {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.input-price {
  position: relative;
  display: flex;
  align-items: center;
  align-items: center;
  gap: 20px;
}
.input-tether input {
  padding: 10px 10px 10px 180px;
  border: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.input-tether input::placeholder {
  font-size: 12px;
  font-weight: 700;
}
.input-tether span {
  position: absolute;
  left: 10px;
  background-color: var(--light-black);
  border-radius: 5px;
  padding: 5px;
}
.input-price input {
  padding: 10px 10px 10px 180px;
  border: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.input-price input::placeholder {
  font-size: 12px;
  font-weight: 700;
}
.input-price span {
  position: absolute;
  left: 10px;
  background-color: var(--light-black);
  border-radius: 5px;
  padding: 5px;
}
.sell-buy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.buy-tether-btn {
  background-color: var(--red);
  width: 150px;
  border-radius: 5px;
  padding: 10px 0;
  color: var(--white);
}
.sell-tether-btn {
  background-color: var(--green);
  width: 150px;
  border-radius: 5px;
  padding: 10px 0;
  color: var(--white);
}

/* media Querys */

@media screen and (width<= 576px) {
  .title-home-container h2 {
    font-size: 20px;
  }
}
@media screen and (576px<width<= 768px) {
  .title-home-container h2 {
    font-size: 20px;
  }
  .calculate-container {
    width: 420px;
    gap: 0;
    padding: 60px 40px;
  }
  .input-price input {
    padding: 10px 10px 10px 100px;
  }
  .input-tether input {
    padding: 10px 10px 10px 100px;
  }
  .calculate-row-container {
    flex-direction: column-reverse;
  }
}
@media screen and (768px<width<= 950px) {
  .title-home-container h2 {
    font-size: 25px;
  }
}
@media screen and (width< 950px) {
}
